<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no;">
    <title>天气预报</title>
    <style>
        body {
            margin: 0 auto;
            
        }
        #list {
            margin: 0 auto;
            /* width: 100%;
            height: 100%; */
            /* text-align: center; */
            /* line-height: 100%; */
        }
        .icon {
            width: 12%;
            height: 8%;
        }
        .icons {
            margin-left: 20%;
            margin-top: 8%;
        }
        .nav {
            background-color: #27ae60;
            color: white;
            font-size: large;
            width: 100vw;
            height: 30vh;
            text-align: center;
            display: table-cell;
            vertical-align:middle
        }
    </style>
</head>
<body>

    <!-- <h2 id="search">这是一个搜索页面</h2>
    <button id="search2">点击查询天气</button> -->
    <div class="nav">
        <p>希望可爱的你每天都会有好心情~</p>
    </div>
    <ul id="list"></ul>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script>
        /*
            1. 绑定域名
                - 在接口号测试页面填写js安全接口域名
            2. 引入JS文件
                - http://res.wx.qq.com/open/js/jweixin-1.4.0.js
            3. 通过config接口注入权限验证配置
        */
        window.onload = function () {
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wxb458006e972297ae', // 必填，公众号的唯一标识
            timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
            nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
            signature: '<%= signature %>',// 必填，签名
            jsApiList: [
                'onMenuShareQZone',
                'startRecord',
                'stopRecord',
                'translateVoice'
            ] // 必填，需要使用的JS接口列表
        });

        // 当config信息验证后会执行ready方法
        wx.ready(function(){
            // // 查询天气
                var Key = 'd1394c13a2db00c992d9e2127b9ec0ea';
                var url = 'https://restapi.amap.com/v3/weather/weatherInfo?city=500000&key=' + Key;
                $.getJSON(url,function (data) {
                    // 把数据转换为对象
                    let weatherIcon;
                    const weatherDetail = data;
                        $('#list').html(
                            '<div id="city" class="icons">'+
                                '<svg t="1574870729602" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1262" width="26" height="26"><path d="M531.2512 170.666667c-103.7312 0-187.733333 84.036267-187.733333 187.733333s84.036267 187.733333 187.733333 187.733333c103.662933 0 187.733333-84.036267 187.733333-187.733333S634.948267 170.666667 531.2512 170.666667zM531.2512 477.866667c-66.013867 0-119.466667-53.486933-119.466667-119.466667s53.486933-119.466667 119.466667-119.466667c65.979733 0 119.466667 53.486933 119.466667 119.466667S597.230933 477.866667 531.2512 477.866667zM531.2512 34.133333c-197.9392 0-358.4 154.043733-358.4 344.064 0 190.020267 358.4 611.669333 358.4 611.669333s358.4-421.649067 358.4-611.669333C889.6512 188.2112 729.1904 34.133333 531.2512 34.133333zM241.117867 385.024c0-156.091733 129.911467-282.624 290.133333-282.624 160.187733 0 290.133333 126.532267 290.133333 282.624S531.2512 887.466667 531.2512 887.466667 241.117867 541.115733 241.117867 385.024z" fill="#d81e06" p-id="1263"></path></svg>'+
                                '&nbsp;&nbsp;<font>城市: '+ weatherDetail.lives[0].city +'</font>'+
                            '</div>' +
                            '<div id="weather" class="icons">'+
                                '<svg t="1574871714073" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1255" width="26" height="26"><path d="M644.459005 536.97964c-2.866116-38.171361-49.601693-73.812521-99.235894-71.472491-16.215501 0.838163-13.559602 3.380284-13.559602 3.380284s85.46174 6.892224 106.765274 89.577244c2.313481 9.216 7.558095-1.15945 6.030222-21.485037z" fill="#B0E0F7" p-id="1256"></path><path d="M832.056889 508.440381c-20.750899 25.003479-51.330032 44.736339-87.413841 44.736339h-45.229376q0.048762-0.804571 0.048762-1.625397c2.167196-82.564741-110.814138-168.89661-208.050794-125.697355-12.368728-69.493299-91.980665-115.973689-129.355039-117.67277-0.779649-0.465947-1.218506-0.805113-1.218506-0.981198 0-76.644504 100.051843-124.618633 176.596656-124.618633 69.141672 0 123.061503 42.452656 138.204783 109.922879 17.575958-8.548504 35.997122-12.17043 56.850963-12.17043 73.61964 0 133.304212 65.648694 133.304212 139.3664a133.054984 133.054984 0 0 1-33.73782 88.740165z" fill="#B0E0F7" p-id="1257"></path><path d="M157.923556 726.557799c-15.75443-0.975238-31.745084-7.265524-46.419708-16.882455a125.929786 125.929786 0 0 1-60.063831-134.756233 50.867335 50.867335 0 0 1 2.87912-11.161058c15.814569-51.346828 63.614781-88.66323 120.130912-88.66323h0.10565a156.273778 156.273778 0 0 1-0.10565-5.439119c0-84.93782 68.830679-153.79288 153.737617-153.792881 76.694349 0 136.502451 47.046028 153.303636 121.815907 19.497177-9.473354 39.930582-13.486459 63.059978-13.486459C626.216635 424.193354 692.419048 496.945033 692.419048 578.64127a147.40778 147.40778 0 0 1-37.422053 98.341926c-23.021037 27.707598-56.937651 49.574603-96.960339 49.574603H157.923556z m388.106836-23.492402c36.343873 0 67.145143-18.995471 88.047746-43.067598 21.135577-22.706794 30.508698-52.630349 30.508698-85.430857 0-70.963742-53.32927-123.430468-124.818557-123.835192-31.470392-0.178252-54.488178 13.523302-72.194167 21.752686-10.517943-63.817956-58.652444-132.042362-140.038231-132.692521-81.671856-0.650159-132.48447 76.306421-132.484469 150.090227 0 1.582595 0.03901 3.155979 0.095898 4.725028h-0.095898c-51.322447 0-95.568457 22.430476-109.931006 67.033533a42.822705 42.822705 0 0 0-2.614721 9.698201c-1.589638 7.265524-4.674099 21.157249-3.300639 34.70764 4.221697 41.664339 20.303374 63.455492 54.366273 82.353439 13.328254 8.35454 27.848466 13.815873 42.151957 14.666497h370.307116z" fill="#7D7D7D" p-id="1258"></path><path d="M740.097354 553.17672a367.258954 367.258954 0 0 1-41.035851-0.455112C709.079365 534.647196 737.838053 477.324868 737.38836 415.559788c-0.476783-65.927179-48.967788-112.890311-60.432254-123.076673C692.028952 285.156368 699.722497 281.302011 731.428571 280.651852c72.227217-1.482362 134.349884 64.597604 134.366138 135.449735 0.016254 70.901435-54.559153 138.359196-125.697355 137.075133z" fill="#B8CBD4" p-id="1259"></path></svg>'+
                                '&nbsp;&nbsp;<font>天气: '+ weatherDetail.lives[0].weather +'</font>'+
                            '</div>'+
                            '<div id="temperature" class="icons">'+
                                '<svg t="1574870688430" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1123" width="26" height="26"><path d="M601.6 601.6l-25.6-19.2V192c0-38.4-25.6-64-64-64s-64 25.6-64 64v390.4l-25.6 19.2C377.6 633.6 352 684.8 352 736 352 825.6 422.4 896 512 896S672 825.6 672 736c0-51.2-25.6-102.4-70.4-134.4zM736 736C736 857.6 633.6 960 512 960S288 857.6 288 736c0-76.8 38.4-140.8 96-185.6V192c0-70.4 57.6-128 128-128s128 57.6 128 128v358.4c57.6 44.8 96 108.8 96 185.6z" fill="#d4237a" p-id="1124"></path><path d="M448 384v-32h64V384zM448 288V256h64v32z" fill="#d4237a" p-id="1125"></path><path d="M512 736m-128 0a128 128 0 1 0 256 0 128 128 0 1 0-256 0Z" fill="#d4237a" p-id="1126"></path><path d="M512 448c19.2 0 32 12.8 32 32v128c0 19.2-12.8 32-32 32S480 627.2 480 608v-128c0-19.2 12.8-32 32-32z" fill="#d4237a" p-id="1127"></path></svg>'+
                                '&nbsp;&nbsp;<font>温度: '+ weatherDetail.lives[0].temperature +'</font>'+
                            '</div>'+
                            '<div id="winddirection" class="icons">'+
                                '<svg t="1574870774725" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1711" width="26" height="26"><path d="M992.54655 184.322362l-164.479538-95.99973a19.615945 19.615945 0 0 0-29.439917 16.639953v191.359462a19.487945 19.487945 0 0 0 29.439917 16.639953l164.479538-95.359732a19.199946 19.199946 0 0 0 0-33.279906zM99.109063 2.562873a18.047949 18.047949 0 0 0-9.599973-2.559993h-47.999865a19.775944 19.775944 0 0 0-18.559948 26.239926l60.799829 168.959525a23.999933 23.999933 0 0 1 0 13.439962l-60.799829 168.959525a19.775944 19.775944 0 0 0 18.559948 26.239926h47.999865a16.671953 16.671953 0 0 0 9.599973-2.559993l287.99919-167.679528h166.399532v302.07915H519.74788a19.199946 19.199946 0 0 0-19.199946 19.199946V1004.800054a19.199946 19.199946 0 0 0 19.199946 19.199946h133.759623a19.199946 19.199946 0 0 0 19.199946-19.199946V554.241321a19.199946 19.199946 0 0 0-19.199946-19.199946h-33.919904V232.322227h179.839494V173.442392H393.668234z" fill="#3498DB" p-id="1712"></path></svg>'+
                                '&nbsp;&nbsp;<font>风力: '+ weatherDetail.lives[0].windpower +'</font>'+
                            '</div>'+
                            '<div id="humidity" class="icons">'+
                                '<svg t="1574870804316" class="icon" viewBox="0 0 1706 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1123" width="26" height="26"><path d="M989.418372 710.755929c-68.1021 0-123.304763-55.210189-123.304763-123.304763 0-98.235905 86.254632-186.86873 114.469327-213.232047 0.082785 0.082785 0.173096 0.158044 0.263407 0.24083 2.242726-2.468504 5.418666-3.883378 8.752652-3.921007 3.333985-0.030104 6.532503 1.324563 8.82791 3.740384 28.395317 26.22785 114.29623 113.776942 114.296231 213.17184 0 68.1021-55.210189 123.304763-123.304764 123.304763z m8.474192-286.843124c-0.015052 0.015052-0.030104 0.022578-0.037629 0.03763a10.201392 10.201392 0 0 0-16.263525 0c-0.090311-0.082785-0.188148-0.158044-0.278459-0.248356-21.704769 23.99265-79.496351 94.352528-79.496351 163.402894 0 48.308916 39.217598 87.473832 87.601772 87.473832 48.376649 0 87.594247-39.164916 87.594247-87.473832 0.007526-70.435137-57.144352-139.304881-79.120055-163.192168z m3.266252 221.171898h-2.408296a66.228897 66.228897 0 0 1-63.541389-84.892439h0.285985c3.048-8.007585 11.386725-12.696236 19.808236-11.145896 8.429037 1.550341 14.547614 8.90317 14.547614 17.467673 0 1.640652-1.204148 5.471348-1.204148 12.342518 0 16.624769 13.478933 30.103702 30.103702 30.103702 0.8128 0 1.618074-0.03763 2.408296-0.105363v0.105363c9.979377 0 18.062221 8.09037 18.062221 18.062221s-8.082844 18.062221-18.062221 18.062221z m-215.542506 25.889184c5.870222 0 11.717866-0.617126 17.460147-1.8288v0.112889c0.594548-0.060207 1.196622-0.090311 1.806222-0.090311 9.505244 0 17.377362 7.367881 18.00954 16.843021 0.632178 9.482666-6.186311 17.836443-15.601243 19.100799v0.03763a120.979252 120.979252 0 0 1-21.674666 1.949214c-66.506604 0-120.414808-53.91573-120.414808-120.414807 0-9.226785 1.05363-18.423466 3.145837-27.416947 0.730015-6.540029 4.974637-12.161896 11.055585-14.675555 6.088474-2.513659 13.057481-1.505185 18.190162 2.611496a18.053943 18.053943 0 0 1 6.472295 17.19674h0.24083a84.3295 84.3295 0 0 0 14.306784 73.392826 84.321974 84.321974 0 0 0 67.003315 33.181805z m104.158809-266.718799c-6.171259 0-11.91354-3.160889-15.224947-8.368829-0.075259 0.097837-0.150519 0.180622-0.225778 0.285985-30.916502-45.644738-64.045626-79.157684-79.631818-94.20201-0.082785 0.097837-0.180622-0.421452-0.263407-0.323614a10.81626 10.81626 0 0 0-8.812859-4.553185c-3.507081 0-6.788385 1.693333-8.820385 4.553185-0.052681-0.052681-0.112889-0.105363-0.16557-0.165571-33.264591 32.858191-147.553295 155.222213-147.553295 285.209999 0 86.457832 70.088944 156.53925 156.53925 156.53925a155.854391 155.854391 0 0 0 88.866128-27.665302 18.042654 18.042654 0 0 1 30.081124 10.182577 18.043406 18.043406 0 0 1-6.675495 17.241895c0.03763 0.052681 0.075259 0.112889 0.120414 0.173096a191.726715 191.726715 0 0 1-112.392171 36.192176c-106.409061 0-192.663693-86.262158-192.663692-192.663692 0-159.511991 145.581503-302.843242 183.640107-337.59044 0.052681 0.045156 0.105363 0.082785 0.150519 0.135466 2.174992-2.385718 5.215466-3.793066 8.436562-3.913481 3.228622-0.120415 6.359407 1.068681 8.69997 3.28883 0.052681-0.052681 0.112889-0.105363 0.158045-0.158045 19.093273 17.136532 67.281774 63.119937 109.585001 125.856052l-0.135467 0.158045c4.590815 5.350933 5.636918 12.89191 2.686756 19.288947a18.023086 18.023086 0 0 1-16.398992 10.498666z m0 0" fill="#1afa29" p-id="1124"></path></svg>'+
                                '&nbsp;&nbsp;<font>湿度: '+ weatherDetail.lives[0].humidity +'</font>'+
                            '</div>'+
                            '<div id="reporttime" class="icons">'+
                                '<svg t="1574870847898" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1123" width="26" height="26"><path d="M874.179108 149.919291C777.456788 53.255031 648.909794 0 512.10296 0 375.343491 0 246.779689 53.255031 150.097095 149.929986 53.379358 246.635499 0.118216 375.225275 0.118216 512.003079c-0.024446 136.793083 53.195443 265.353829 149.900956 362.11893 96.670371 96.613839 225.246396 149.878037 361.98753 149.878037 136.806834 0 265.42564-53.297812 362.172407-149.978879C1073.767443 674.41297 1073.798001 349.603883 874.179108 149.919291L874.179108 149.919291 874.179108 149.919291zM826.994433 826.827324c-84.130878 84.118655-195.994709 130.492014-314.986203 130.492014-118.90746 0-230.743788-46.350441-314.819662-130.392701C113.111166 742.833957 66.820314 630.993045 66.838649 512.003079c0-118.97316 46.313771-230.826295 130.420203-314.899113 84.094208-84.074346 195.893867-130.372838 314.844108-130.372838 118.954825 0 230.77893 46.296964 314.891473 130.378949C1000.583984 370.74241 1000.583984 653.25458 826.994433 826.827324L826.994433 826.827324 826.994433 826.827324zM733.350836 637.475934l-176.979966-102.351112L556.37087 256.000011c0-23.557196-19.111001-42.666669-42.674308-42.666669-23.544973 0-42.655973 19.109473-42.655973 42.666669l0 298.669736c0 15.826011 19.671741 29.095841 32.467921 36.437411 3.538621 5.329323 13.268303 10.15291 19.199619 13.564716l176.000581 106.673547c20.388327 11.769431 42.495544 4.774694 54.271086-15.619744 11.775542-20.40055 0.811316-46.469617-19.630487-58.245159l0 0L733.349308 637.475934zM733.350836 637.475934" fill="#13227a" p-id="1124"></path></svg>'+
                                '&nbsp;&nbsp;<font>时间: '+ weatherDetail.lives[0].reporttime +'</font>'+
                            '</div>'
                        );
                        // $('.weather').html(`<h2>`+ weatherDetail.lives[0].weather +`</h2>`);
                        // $('.temperature').html(
                        //     '<h2>'+ weatherDetail.lives[0].weather +'</h2>'+
                        //     '<h3>' + weatherDetail.lives[0].winddirection + '</h3>'
                        //     );


                    console.log(data);
                    
                    });  
                })
        // 当config信息验证失败会执行error函数
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，
            //也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });
        }
    </script>
    
</body>
</html>